<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}">
<head>
    <title>Wantrip | 게시판</title>
    <!-- Css -->
    <link href="/css/lightbox.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/post/list.css" rel="stylesheet">
</head>
<body>

<section layout:fragment="main" class="post-list" th:each="post : ${posts}" style="display:inline-block;">
    <a th:href="@{|/post/${post.id}|}">
        <div class="box__gallery">
            <div class="box__thumb"></div>
            <div class="box__info">
            <span class="text__info">
               <span class="text__title" th:text="${post.subject}"></span>
<!--            <span class="tag">-->
<!--            <i class="icon-new"></i><i class="icon-file"></i>-->
<!--            </span>-->
         </span>
            </div>
        </div>
    </a>
</section>

<!-- script -->
<script src="/js/lightbox-plus-jquery.js"></script>
<script src="/js/jquery.shuffle.min.js"></script>
</body>
</html>