<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}">
<head>
   <title>Wantrip | 게시판</title>
   <link href="/css/post/list.css" rel="stylesheet">
</head>
<body>
<section id="about">
   <div class="container" layout:fragment="main">
      <div class="box__gallery">
         <div class="box__thumb"></div>
         <div class="box__info">
            <span class="text__info">
               <span class="text__title">갤러리형 게시판 제목 노출 영역입니다. 두줄까지 노출됩니다. 두줄까지 노출됩니다.</span>
            <span class="tag">
            <i class="icon-new"></i><i class="icon-file"></i>
            </span>
         </span>
         </div>
      </div>
      <div class="box__gallery">
         <div class="box__thumb"></div>
         <div class="box__info">
             <span class="text__info">
                  <span class="text__title">갤러리형 게시판 제목 노출</span>
                  <span class="tag">
                    <i class="icon-new"></i><i class="icon-file"></i>
                  </span>
             </span>
         </div>
      </div>
   </div>
</section>
</body>
</html>