<!DOCTYPE html>
<html lang="ko">
   <head>
      <title>Wantrip | 어바웃</title>
   </head>
   <body>
      <section id="about">
         <div class="container" layout:fragment="main">
            <div class="row">
               <div class="col-md-12">
                  <h1>
                     Simplicity, purity, because
                     <br>
                     less is beautiful
                  </h1>
                  <br>
                  <img class="img-responsive margin-top-45" src="/img/4.jpg" alt="me">
               </div>
            </div>
            <br>

            <div class="row margin-top-45">
               <div class="col-md-3">
                  <h2>Clients</h2>
               </div>
               <div class="col-md-9">
                  <div class="row">
                     <div class="col-md-4">
                        <ul class="list-unstyled">
                           <li>Bugatti</li>
                           <li>Vogue</li>
                           <li>Class</li>
                           <li>Hollister</li>
                        </ul>
                     </div>
                     <div class="col-md-4">
                        <ul class="list-unstyled">
                           <li>Zara</li>
                           <li>Coca Cola</li>
                           <li>Ferrari</li>
                           <li>Mercedes Benz</li>
                        </ul>
                     </div>
                     <div class="col-md-4">
                        <ul class="list-unstyled">
                           <li>Tiger</li>
                           <li>Capcom</li>
                           <li>Zara Home</li>
                           <li>Martini</li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </body>
</html>